body {
  font-family: 'Arizonia', cursive;
  font-family: 'Playfair Display', 'Stint Ultra Condensed', serif;
  font-family: -apple-system, -apple-system, BlinkMacSystemFont,
                'Trebuchet MS', 'Lucida Sans Unicode',
                'Segoe UI', 'Sofia Sans Extra Condensed',
                'Oxygen', 'Ubuntu', 'Cantarell', 'Open Sans',
                'Franklin Gothic Medium', 'Arial Narrow', Arial,
                'Lucida Grande', 'Lucida Sans', Arial,
                'Helvetica Neue', 
                'Lato', 'Roboto', 'Roboto Condensed',
                sans-serif;
  font-size: 20px;
}
ul {
  list-style-type: none;
}
header {
  border: 2px solid navy;
  border-radius: 2vh;
}
.header-links-list {
  display: flex;
  justify-content: space-around;
}
.wrapper-demonstration {
  display: flex;
  border: 2px solid navy;
  border-radius: 2vh;
}
.aside-right {
  width: 30%;
  border: 2px solid navy;
  border-radius: 2vh;
}
.main-content {
  width: 80%;
  margin: 0 auto;
  background-color: aqua;
}
.main-content-header {
  text-align: center;
}
.two-columns {
  margin: 0 auto;
  background-color: aquamarine;
  border: 2px solid navy;
  border-radius: 2vh;
}
.columns-wrapper {
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  background-color: aquamarine;
  border: 2px solid yellow;
  border-radius: 2vh;
}
.study-links {
  min-width: 40%;
  border: 2px solid navy;
  border-radius: 2vh;
}
.aside-left {
  width: 30%;
  border: 2px solid navy;
  border-radius: 2vh;
}

.milestones-header {
  text-align: center;
}
.milestone-header {
  text-align: center;
}
.milestone-subheader {
  text-align: center;
}
.milestone-subheader-progress {
  text-align: center;
}
.milestone-subheader-recommendations {
  text-align: center;
}
.milestone-subheader-resources {
  text-align: center;
}
.milestone-subheader-issues {
  text-align: center;
}
.milestones-text {
  padding: 2%;
}



footer {
  border: 2px solid navy;
  border-radius: 2vh;
}

@media screen and (max-width: 480px) {

}